<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <p>
            <center><b>Aconteceu um erro inesperado!</b></center>
        </p>
        <br>
        <button>
            <a href="{{ url_for('blueprint_cool.home') }}">Tentar novamente</a>
        </button>
    </div>
</body>
</html>
