<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Produtos</title>
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flash-messages"> <!-- Div que envolve todas as mensagens flash -->
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <h1>Produtos</h1>
        <div class="carousel-container">
            <div class="carousel">
                <div class="product-grid" id="productCarousel">
                    {% for produto in produtos %}
                    <div class="product-card">
                        <img src="{{ url_for('static', filename=produto.image) }}" alt="{{ produto.nome }}"
                            class="product-image">
                        <h2>{{ produto.nome }}</h2>
                        <p>R$ {{ '%.2f' | format(produto.preco) }}</p> <!-- Exibição do preço formatada -->
                        <form action="{{ url_for('blueprint_cool.adicionar_ao_carrinho') }}" method="post">
                            <input type="hidden" name="produto_id" value="{{ produto.id }}">
                            <button type="submit">Adicionar ao Carrinho</button>
                        </form>
                    </div>                    
                    {% endfor %}
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>
        <a href="{{ url_for('blueprint_cool.home') }}"><button type="button">Inicio</button></a>
        <a href="{{ url_for('blueprint_cool.ver_carrinho') }}"><button type="button">Ver Carrinho</button></a>
        <a href="{{ url_for('blueprint_cool.logout') }}"><button type="button">Logout</button></a>
    </div>

    <script src="{{ url_for('static', filename='js/produtos.js') }}"></script> <!-- Referência ao arquivo JS -->
</body>

</html>
