<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLA</title>
</head>

<body>
    <center>
        <form action="post">
            <label>Login</label>
            <input type="text" name="login" required><br><br>

            <label>Senha</label>
            <input type="password" name="senha" required><br><br>

            <button type="submit">Enviar</button>

            
        </form>
    </center>
</body>

</html>