<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sucesso</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>
        <body>
            <div class="container">
                
                <nav>
                    <a href="{{ url_for('geral.index') }}">Home</a> |
                    <a href="{{ url_for('login.login') }}">Login</a>
                </nav>
                </div>
                </body>
    
<body>
    <h1>Operação bem-sucedida!</h1>
    <p>Obrigado por usar nosso serviço.</p>
</body>
</html>
